<%- include('../partials/header.ejs') %>

<div class="game-container">
  <% games.forEach((game) => { %>
    <div>
      <section class="game-item">
        <img
          src="<%= game.urlCover %>"
          alt="<%= game.title %> Cover Art"
          class="game-image"
        />
      </section>
      <a href="/games/<%= game._id %>" class="find-players-link"><%= game.title %></a>
    </div>
<% }); %>
</div>

<%- include('../partials/footer.ejs') %>
